.b {
    border: 1px solid springgreen; 
}
body {
    margin: 0;
    padding: 0 66px;
    background-color: #161616;
}

.container {
    position: relative;
}
.column-left{
    position: absolute;
    left: 0;
    width:  271px;
    height: 700px;
}
.column-right{
    position: relative;
    margin-left: 271px;
    padding-top: 40px;
    background-color: #282828;
}
.pins{
    height: 40px;
    width: 100%;
    background-color: #232323;
    color: #ffffff;
    line-height: 40px;
}
.column-left-main-body{
    background-color: #2A303D;
    width: 100%;
    height: 500px;
}
.img-div{
    padding-left: 65px;
    padding-right: 65px;
}
.natural-image{
    width: 955px;
    height: 330px;
}
.play-bar-div{
    padding-top: 25px; 
    max-width: 1023px;
    height: 94px;
    background-color: #2C2D33;
}

.speaker-div, .play-button-div, .play-list-div, .add-song-div {
    position: relative;
    display: block;
    width: 32px;
    height: 32px;
}
.speaker, .play-button, .play-list, .add-song {
    display: inline-block;
    height: 32px;
    width: 32px;
}
.speaker-div {
    float: left;
}
.play-button-div {
    clear: both;
    position: absolute;
    left: 50%;
}
.play-add-song-div{
    position: relative;
    margin-right: 10px;
    float: right;

}
.play-list-div, .add-song-div{
    display: inline-block;
}

.play-list-div{
    margin-right: 20px;
}

.graph-div{
    padding-top: 5.5px;
    height: 195px;
    max-width: 1023px;
}

.emotion-pic-div, .emotion-graph-div{
    display: inline-block;
}
.emotion-graph-div {
    width: 675px;
    border-right: 1.5px solid #747474;
}
.emotion-pic-div{
    display: inline-block;
    width: 280px;
}
.facial-emotion-div, .facial-emotion-graph-div {
    display: inline-block;
    float: left;
}
.facial-emotion-div{
    width: 355px;
}
.facial-emotion-graph-div{
    margin-top: 33px;
    width: 225px;
}
.emotion-graph-pic{
    width: 100%;
    max-height: 150px;
}
.facial-emotion-span {
    margin: 0 !important;
    padding: 0 !important;
    color: white;
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
}
.facial-emotion-div{
    padding: 20px;
}
.facial-emotion-p {
    margin: 0 !important;
    padding: 0 !important;
    color: white;
}
.emotion-pic{
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 50px;
    width: 90%;
    height: 125px;
}

.anger, .disgust, .surprise, .contempt {
    margin-left: 10px;
    margin-top: 10px;
    display: inline-block;
    width: 156px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    border: 1px solid red;
}
.anger {
    background-color: #DA0000;
}
.disgust {
    background-color: #F7615E;
}
.surprise {
    background-color: #F4FF00;
}
.contempt {
    background-color: #FDD100;
}
.anger span, .disgust span, .surprise span, .contempt span {
    display: inline-block;
    color: #DBD8D7;
}
.live-emotion-bar{
    position: absolute;
    padding: 25px  0 25px 25px;
    width: 1060px;
    background-color: rgb(22, 22, 22, 0.5);
    top: 239px;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.live-emotion-li-bar{
    display: inline-block;
    width: 2px;
    margin-left: 5px;
}