*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.tone-analysis-container {
}
.tone-analysis-nav-bar{
}
.emotion, .language, .social, .all {
    display: inline-block;
    margin-top: 30px;
    padding: 10px;
    text-decoration: none;
    color: whitesmoke;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
}
.emotion:hover, .language:hover, .social:hover, .all:hover {
    border-bottom: 2px solid rgb(120, 120, 120);
}
.emotion:focus, .language:focus, .social:focus, .all:focus {
    color: rgb(179, 166, 89);
}
.tone-analysis-body {
    padding: 20px;
}
.scale{
}
.scale p{
    color: whitesmoke;
    font-size: 13px;
    font-weight: 600;
}
.emotion-tone-heading {
    color: whitesmoke;
}
.tones p{
    color: rgb(0, 215, 186);
    font-weight: 400;
    font-size: 14px;
}

.emotion-progress-bar-leftside, .emotion-progress-bar-rightside {
    display: inline-block;
    width: 100px;
}
.emotion-progress-bar-leftside {
    width: fit-content;
}
.emotion-progress-bar-rightside progress {
    height: 25px;
    margin-bottom: 5px;
}
.emotion-table-row {
    color: whitesmoke;
}

.anger-progress-bar-div, .disjust-progress-bar-div, .fear-progress-bar-div, .joy-progress-bar-div {
    margin-bottom: 5px;
    height: 20px;
    width: 130px;
    background: whitesmoke;
}
.anger-progress-bar {
    height: 20px;
    width: 20px;
    background: rgb(176, 0, 32);
}
.disjust-progress-bar {
    height: 20px;
    width: 30px;
    background: rgb(0, 120, 118);
}
.fear-progress-bar {
    height: 20px;
    width: 40px;
    background: rgb(132, 0, 65);
}
.joy-progress-bar {
    height: 20px;
    width: 32px;
    background: rgb(14, 48, 69);
}

.routing-div {

}
.left-side-bar-img {
    height: 650px;
    overflow: auto;
}
.left-side-bar-img img {
    width: 100%;
}

.pins-ng-view {
    display: none;
}