<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/stylesheet.css" rel="stylesheet">
    <link rel="stylesheet" href="css/tone-analysis.css">
</head>

<body>
    <div class="container" ng-controller="myAppCtrl">
        <div class="column-left">
            <div class="pins">Pins</div>
            <div class="column-left-main-body">
                <nav class="left-side-nav-bar">
                    <a class="annotation" href="#/annotations">Annotations</a>
                    <a class="tone-analysis" href="#/tone-analysis">Tone Analysis</a>
                </nav>
                <ng-view></ng-view>
            </div>
        </div>
        <div class="column-right">
            <div class="live-emotion-bar">
                <ul>
                    <li class="live-emotion-li-bar" style="background-color: {{data.color}}; height: {{data.height}};" ng-repeat="data in emotionData"></li>
                </ul>
            </div>
            <div class="zoomed-div">
                <div class="zoomed-div-label-left">00:00:06</div>
                <div class="zoomed-div-label-right">00:01:11</div>
                <ul>
                    <li class="zoomed-box-li" style="background-color: {{data.color}}; height: {{data.height}}" ng-repeat="data in instantaniusData"></li>
                </ul>
            </div>
            <div class="img-div">
                <img class="natural-image" src="img/4-Nature-Wallpapers-2014-1_cDEviqY.jpg" alt="Nature Wallpapers">
            </div>
            <div class="play-bar-div">
                <div class="speaker-div">
                    <img class="speaker" src="img/speaker.png" alt="speaker icon">
                </div>
                <div class="play-button-div">
                    <img class="play-button" src="img/play-button.png" alt="play button icon">
                </div>
                <div class="play-add-song-div">
                    <div class="play-list-div">
                        <img class="play-list" src="img/play-list.png" alt="play list">
                    </div>
                    <div class="add-song-div">
                        <img class="add-song" src="img/add-song.png" alt="add song icon">
                    </div>
                </div>
            </div>
            <div class="graph-div">
                <div class="emotion-graph-div">
                    <div class="facial-emotion-div">
                        <span class="facial-emotion-span">Facial Emotions</span>
                        <p class="facial-emotion-p">Higest 4 Emotions For Current Frame</p>
                        <div>
                            <div class="anger">
                                <span>85.20%</span>
                                <span>anger</span>
                            </div>
                            <div class="disgust">
                                <span>12.00%</span>
                                <span>disgust</span>
                            </div>
                            <div class="surprise">
                                <span>1.10%</span>
                                <span>surprise</span>
                            </div>
                            <div class="contempt">
                                <span>1.00%</span>
                                <span>contempt</span>
                            </div>
                        </div>
                    </div>
                    <div class="facial-emotion-graph-div">
                        <img class="emotion-graph-pic" src="img/graph.png" alt="emotions graph">
                    </div>
                </div>
                <div class="emotion-pic-div">
                    <div>
                        <img class="emotion-pic" src="img/4-Nature-Wallpapers-2014-1_cDEviqY.jpg" alt="Nature Wallpapers">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="lib/angular.1.1.5/angular.min.js"></script>
    <script src="lib/angular.1.1.5/angular-resource.min.js"></script>
    <script src="lib/jquery/jquery-3.3.1.min.js"></script>
    <script src="js/my-app.js"></script>
    <script src="js/controllers/my-app-ctrl.js"></script>
    <script src="js/services/emotion-data-service.js"></script>
    <script src="js/services/instantanius-data-service.js"></script>
</body>

</html>