<div class="tone-analysis-container">
    <div class="tone-analysis-nav-bar">
        <a class="emotion" href="#/tone-analysis">Emotion</a>
        <a class="language" href="#/tone-analysis">Language</a>
        <a class="social" href="#/tone-analysis">Social</a>
        <a class="all" href="#/tone-analysis">All</a>
    </div>
    <div class="tone-analysis-body">
        <div class="scale">
            <p>< .5=n ot likely present</p>
            <p>> .5 = likely present</p>
            <p>.75 = very likely present</p>
        </div>
        <h3 class="emotion-tone-heading">Emotion Tone</h3>
        <div class="tones">
            <p>
                everyone says I am going to be doing the forty i think forty
                forty forty forty forty facial expression the deck thet I saw beauty
                by Bernie dexter this and I will live laws make it through this devil
                don't want to say though at the Los usuarios I wash I've almost usually 
                been such a long time because of the moving and everything so I'm stuck
                doing this thing with it hopefully once a week I'm going to do a video 
                response and it's gonna be like anyone when you guys that may be a big 
                popular your true
            </p>
        </div>
        <div>
            <progress value="10" max="100"></progress>
            <progress value="10" max="100"></progress>
            <progress value="10" max="100"></progress>
            <progress value="10" max="100"></progress>
        </div>
    </div>
</div>